{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.404.title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 text-center">
            <h1>404</h1>
            <p>{{ 'page.404.description'|trans }}</p>
        </div>
    </div>
{% endblock %}
