{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.account_verification.title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger text-center">
                {{ 'page.account_verification.failed'|trans }}
            </div>
        </div>
    </div>
{% endblock %}
