{% extends 'layout.html.twig' %}

{% block title %}Feedback{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ 'page.feedback.perex'|trans|raw }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>{{ 'page.feedback.name'|trans }}</td>
                    <td>{{ name }}</td>
                </tr>
                <tr>
                    <td>{{ 'page.feedback.email'|trans }}</td>
                    <td>{{ email }}</td>
                </tr>
                <tr>
                    <td>{{ 'page.feedback.contact_email'|trans }}</td>
                    <td>{{ contactEmail }}</td>
                </tr>
                <tr>
                    <td>Feedback</td>
                    <td>{{ message }}</td>
                </tr>
                <tr>
                    <td>Metadata</td>
                    <td>{{ metadata }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}

