<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}{% endblock %} | {{ web_name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    {% block css %}{% endblock %}
</head>
<body class="bg-white">
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4 img-r" src="{{ asset('images/calmio-logo.jpg') }}" alt="calmio">
    </div>
    {% block body %}{% endblock %}
</div>
<script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>
