{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.forgotten_password.title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ 'page.forgotten_password.description'|trans|raw }}
            <p>
                <a class="btn btn-primary btn-block" href="{{ uri }}">
                    {{ 'page.forgotten_password.set_password'|trans }}
                </a>
            </p>
        </div>
    </div>
    {# Footer #}
    {% include 'footer.html.twig' %}
{% endblock %}
