{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.set_password.title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success text-center">
                {{ 'page.set_password.success'|trans }}
            </div>
        </div>
    </div>
{% endblock %}
