{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.set_password.title'|trans }}{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            $(document).on("click", "button.btn-save-new-password", function (e) {
                e.preventDefault();

                let password = $("#inputPassword").val(), passwordRepeated = $("#inputPasswordRepeat").val();

                if (password === '' || (password !== passwordRepeated)) {
                    alert('{{ 'error.passwords_not_match'|trans }}');
                    return false;
                }

                $(this).closest("form").submit();
            })
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="h3 mb-3 font-weight-normal">{{ 'page.set_password.title'|trans }}</h1>
            <form class="form-signin" method="post" action="{{ base_path }}/{{ lang }}/user/save-new-password">
                <input type="hidden" name="hash" value="{{ hash }}"/>
                <div class="form-label-group">
                    <input type="password"
                           id="inputPassword"
                           class="form-control"
                           placeholder="{{ 'page.set_password.new_password'|trans }}"
                           name="password"
                           required
                           autofocus/>
                    <label></label>
                </div>
                <div class="form-label-group">
                    <input type="password"
                           id="inputPasswordRepeat"
                           class="form-control"
                           placeholder="{{ 'page.set_password.repeat_password'|trans }}"
                           required/>
                    <label></label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-save-new-password" type="submit">
                    {{ 'page.set_password.set_password'|trans }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
