{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.account_verification.title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ 'page.account_verification.email_text'|trans|raw }}
            <p>
                <a class="btn btn-primary btn-block" href="{{ uri }}">
                    {{ 'page.account_verification.activate'|trans }}
                </a>
            </p>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}
